nav.navbar {
  min-height: $navbar-height-mobile;
  height: $navbar-height-mobile;
  border-bottom: 1px solid $grey;

  @include desktop {
    min-height: $navbar-height;
    height: $navbar-height;
  }

  > .container {
    padding: 0 32px 0 0;

    .navbar-brand {
      min-height: $navbar-height-mobile;
      padding-left: 4px;
      margin-left: 0;
      font-weight: $weight-medium;
      // font-size: 17px;

      img {
        width: 72px;
        height: 44px;
        max-height: 44px;
        margin-right: 8px;
      }

      @include desktop {
        min-height: $navbar-height;
        border-right: 1px solid $grey;
        width: $navbar-side-width;
      }
    }
  }
}

.filters {
  .dropdown {
    @include touch {
      &.is-mobile-modal > .dropdown-menu {
        // top: 230px !important;
      }
    }

    &.is-expanded .dropdown-menu {
      max-width: none;
      width: auto;
    }

    .dropdown-content {
      border: 1px solid $grey-light;
    }

    a.dropdown-item {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      white-space: normal;
    }

    .icon-circle {
      border-radius: 100%;
      border: 1px solid $grey-lighter;
      width: 24px;
      height: 24px;
      font-weight: 700;
      margin-right: 12px;
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .button {
      @include desktop {
        // min-width: 210px;
      }

      .icon:last-child {
        margin-left: auto;
      }
    }
  }
}
