nav.navbar {
  min-height: $navbar-height-mobile;
  height: $navbar-height-mobile;
  border-bottom: 1px solid $grey;

  @include desktop {
    min-height: $navbar-height;
    height: $navbar-height;
  }

  .navbar-brand {
    min-height: $navbar-height-mobile;

    @include touch {
    }

    @include desktop {
      min-height: $navbar-height;
      border-right: 1px solid $grey;
      width: $navbar-side-width;
    }
  }
}

#main-interface {
  display: flex;

  .container-interface {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  #filters-basic {
    padding: 22px 32px;
    border-bottom: 1px solid $grey;
    z-index: 38;

    .columns {
      width: 100%;
      max-width: 1100px;
      align-items: flex-end;
    }
  }

  #filters-advanced {
    width: $navbar-side-width;
    border-right: 1px solid $grey;
    position: relative;
    padding-top: 160px;

    .label {
      padding-left: 32px;
    }

    .filter-actions {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 24px 32px;
      background: $black;

      .results {
        background: $white;
        color: $black;
        border-radius: $radius-large;
        padding: 9px 0 7px 0;
        text-align: center;
        font-size: $size-6;
      }

      .button {
        font-size: $size-7;

        .icon {
          font-size: $size-4;
        }
      }
    }

    .b-tabs {
      overflow: visible;

      nav,
      ul {
        width: 100%;
      }

      &.is-vertical > .tabs {
        flex: 1;

        ul li {
          white-space: normal;

          a {
            justify-content: space-between;
            text-align: left;
          }

          &.is-active a {
            font-weight: 700;
            color: $white;
            border-color: $white;
          }
        }
      }

      .tab-content {
        background: $black;
        position: absolute;
        left: calc(100% + 1px);
        width: 528px;
        top: 0;
        border-right: 1px solid $grey;
        padding: 0;
        z-index: 39;
        overflow: hidden;

        .close {
          position: absolute;
          right: 19px;
          top: 4px;
          z-index: 2;
          font-size: 32px;
          border: 0;
          padding: 12px 5px;
          color: $grey-lighter;
        }

        .container-scroll {
          padding: 24px 24px 80px 24px;
          overflow: auto;
          max-height: 100%;

          h1 {
            padding: 56px 34px 56px;
          }

          .label.is-sticky {
            background: $black;
            position: sticky;
            top: -24px;
            z-index: 1;
            padding-top: 16px;
            padding-left: 0;
            padding-bottom: 16px;
            border-bottom: 1px solid $grey;
            font-weight: 700;
            margin-bottom: 0;
            margin-top: 24px;
          }
        }

        .results {
          position: absolute;
          bottom: 0;
          padding: 16px 16px 16px 56px;
          background-color: $grey;
          width: 100%;
          z-index: 3;

          .button {
            width: 170px;
          }
        }

        .collapse {
          .collapse-trigger .button {
            justify-content: space-between;
            padding: 16px 6px 16px 32px;
            border-bottom: 1px solid $grey;
            min-height: 60px;
            height: auto;
            transition: border-color 0.2s;
            white-space: normal;
            text-align: left;
            border-radius: 0;
            position: sticky;

            .icon {
              font-size: 24px;
              transition: transform 0.15s;
            }

            &.is-active {
              .icon {
                transform: rotate(45deg);
              }
            }

            &.is-selected {
              font-weight: 700;
              border-bottom: 1px solid $grey-lighter;

              .icon {
                color: $primary;
              }
            }
          }

          .collapse-content {
            padding-left: 80px;

            .field {
              padding: 16px 0;

              &.has-addons {
                padding: 0;
                flex-direction: column;
              }
            }

            .checkbox {
              padding: 8px 0;
            }
          }
        }
      }
    }
  }
}

.filters {
  .dropdown {
    font-size: $size-6;

    @include touch {
      &.is-mobile-modal > .dropdown-menu {
        // top: 230px !important;
      }
    }

    .dropdown-content {
      border: 1px solid $grey-light;
    }

    a.dropdown-item {
      display: inline-flex;
      align-items: center;
      padding: 8px 12px;
    }

    .icon.bullet {
      border-radius: 100%;
      border: 2px solid $grey;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      margin-right: 8px;
    }

    .button {
      @include desktop {
        // min-width: 210px;
      }

      .icon:last-child {
        margin-left: auto;
      }
    }
  }
}

#map {
  flex: 1;

  .leaflet-container {
    .leaflet-pane {
      z-index: 36;
    }

    .leaflet-top,
    .leaflet-bottom {
      z-index: 37;
    }

    .leaflet-tile {
      filter: hue-rotate(10deg) brightness(0.65) !important;
    }
  }
}
