.tag:not(body) {
  &.bullet {
    font-weight: $weight-bold;
    width: 32px;
    height: 32px;
    border: 1px solid $white;

    &.is-small {
      width: 32px;
      height: 32px;
    }

    &.is-large {
      width: 48px;
      height: 48px;
    }
  }
}

.container-page {
}

.is-full-height {
  height: calc(100vh - #{$navbar-height});
}

.button.close {
  border-radius: 100%;
  padding: 12px 5px;
  position: absolute;
  top: 24px;
  right: 24px;
}
