.tag:not(body) {
  &.bullet {
    font-weight: $weight-bold;
    width: 32px;
    height: 32px;
    border: 1px solid $white;
    background: transparent;
    color: $white;

    &.is-small {
      width: 32px;
      height: 32px;
    }

    &.is-large {
      width: 48px;
      height: 48px;
    }
  }
}

.button.close {
  border-radius: 100%;
  padding: 12px 5px;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
}

.label {
  // line-height: 1;
}
