html {
  padding-top: $navbar-height-mobile;

  @include desktop {
    padding-top: $navbar-height;
  }
}

body {
}

#main-interface {
  display: flex;

  .container-interface {
    flex: 1;
    display: flex;
    flex-direction: column;

    .container-map-profile {
      display: flex;
      flex: 1;
      overflow: hidden;
    }
  }
}

.container-page {
  padding: 20px;

  @include desktop {
    padding: 80px;
  }
}

.container-mobile {
  padding: 20px;
  color: $grey-dark;

  &.is-spaced {
    padding: 32px;
  }

  &:not(:first-child) {
    margin-top: 2px;
  }
}
