html {
  padding-top: $navbar-height-mobile;

  @include desktop {
    padding-top: $navbar-height;
  }
}

body {
}

.container {
  border-left: 1px solid $border;
  border-right: 1px solid $border;
}

.is-full-height {
  height: calc(100vh - #{$navbar-height});
}

#main-interface {
  position: relative;
  display: flex;

  .container {
    display: flex;
    flex: 1;
  }

  .container-interface {
    flex: 1;
    display: flex;
    flex-direction: column;

    .container-map-profile {
      display: flex;
      flex: 1;
      overflow: hidden;
    }
  }
}

.container-scroll {
  overflow: auto;
  height: 100%;
}

.container-page {
  padding: 20px;

  @include desktop {
    padding: 80px;
  }
}

.container-mobile {
  padding: 20px;
  color: $grey-dark;

  &.is-spaced {
    padding: 32px;
  }

  &:not(:first-child) {
    margin-top: 2px;
  }
}
