html {
  padding-top: $navbar-height-mobile;

  @include desktop {
    padding-top: $navbar-height;
  }
}

body {
}

.is-full-height {
  height: calc(100vh - #{$navbar-height});
}

.container {
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  min-height: 100%;
}

#main-interface {
  position: relative;
  display: flex;

  .container {
    display: flex;
    flex: 1;

    .container-sidebar {
      flex-shrink: 0;
      width: $navbar-side-width;
      border-right: 1px solid $grey;
      height: 100%;
    }
  }

  .container-interface {
    flex: 1;
    display: flex;
    flex-direction: column;

    .container-map-profile {
      position: relative;
      display: flex;
      flex: 1;
      overflow: hidden;
    }
  }
}

.container-scroll {
  overflow: auto;
  height: 100%;
}

.container-page {
  flex: 1;
  padding: 20px;

  @include desktop {
    padding: 0;

    section {
      padding: 64px;

      .content {
        max-width: 560px;
        margin: 0 auto;
      }
    }

    > h1 {
      padding: 48px 64px;
      max-width: 768px;
    }
  }
}

.container-mobile {
  padding: 20px;
  color: $grey-dark;

  &.is-spaced {
    padding: 32px;
  }

  &:not(:first-child) {
    margin-top: 2px;
  }
}
