@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'vue-ionicons/ionicons.scss';
// @import '~vue-material-design-icons/styles.css';

a {
}

b,
strong,
.is-bold {
  font-family: $family-primary-bold;
  font-weight: 700;
}

i {
  font-family: $family-primary-italic;
}

h1 {
  font-size: $size-1;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: $size-2;
}

h3 {
  font-size: $size-3;
}

h4 {
  font-size: $size-4;
  font-weight: 700;
}


.content {
  line-height: 1.5;

  a {
    color: $primary;
    // text-decoration: underline;
  }

  h1 {
    font-size: $size-2;
    color: $white;
    margin-bottom: $size-2;

    &:not(:first-child) {
      margin-top: 4px;
    }
  }

  h2 {
    font-size: $size-4;
    color: $white;
    margin-bottom: $size-4;
  }

  h3 {
    font-size: $size-5;
    color: $primary;
  }
}
